.pagination{
  display: block;
  &__button{
    cursor: pointer;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: $white;
    border-radius: 50%;
    &--active{
      display: inline-block;
      background-color: transparent;
      border: 1px solid $white;
    }
  }
}
